.drop-down-container {
    display: none;
    position: absolute;

    background-color: rgba(255, 255, 255, 0.4);
    z-index: 1;
    width: 198px;


    border: 1px solid #923f3f;

    
}

.drop-down-button-container {
    display: flex;
    flex-direction: column;

}

.drop-down-text-container {
    width: 100%;
    align-content: flex-start;
    padding: 10px 20px;
}

.profile-button {
    margin-top: 20px;
}


.logout-button {
    margin-top: 40px;
} 
