.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #f0f0f0;
  opacity: 0.95;
  z-index: 10;
}



.modal-child {
  position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 600px;
    background-color: rgb(196, 231, 243);

}