.nav-wrap {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;
    position: absolute;

}


.nav-bar {
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 69px;
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom: 1px solid #f0f0f045;
    transition: ease-in-out 0.3s;
}

.nav-bar:hover {

    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(240, 240, 240, 1);
    
}

.nav-user-profile {
    font-size: 21px;
    border: 0;
}

.nav-logo {
    padding: 0 27px 0 27px;
}

.signup-button {
    background-color: rgba(255, 255, 255, 0.0);
}






