.nav-wrap {
    display: flex;
    /* justify-content: space-between; */
    width: 100%;

}

.nav-bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 69px;
    opacity: 0.5;
    background-color: #ffffff;
    border-bottom: 1px solid #ffffff;
    transition: opacity, border-bottom 0.25s;
}

.nav-bar:hover {
    opacity: 1;
    border-bottom: 1px solid grey;
}

.nav-user-profile {
    font-size: 21px;
    border: 0;
}



.nav-logo {
    padding: 0 27px 0 27px;
}








