.nav-wrap {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}




/* add in alpha change on scroll down */
.nav-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 69px;
    background-color: rgba(255, 255, 255, 0.4);
    border-bottom: 1px rgba(255, 255, 255, 0.4);
    transition: ease-in-out 0.3s;
}

.nav-bar:hover {

    background-color: rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(240, 240, 240, 1);
    
}

.nav-user-profile {
    font-size: 21px;
    border: 0;
}

.nav-logo {
    padding: 0 27px 0 27px;
}


.signup-button {
    background-color: rgba(255, 255, 255, 0.0);
}

.icon-user {
    font-size: 40px;
    cursor: pointer;
    
}


.nav-user-profile {
    padding: 20px;
    position: relative;
    display: inline-block;

}

.nav-user-profile:hover .drop-down-container {
    display: block;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #f0f0f0;
    
    right: 0px;
    top: 75px;
}

.nav-logo {
    width: 50%;
}

.product-link {
    outline: 0;
}
