.product-listing-wrap {
    margin-top: 70px;
    display: flex;
}
.product-listing-container {
    display: flex;
}

.product-show-container {
    margin-top: 70px;
}

.product-item-wrap {
    display: flex;
    width: 100%;
}

.product-item-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 20px 25px;
    width: 300px;
    height: 450px;
    background-color: #f0f0f0;
    font-size: 18px;
    transition: 0.3s;
}

.product-item-container:hover {
    filter: drop-shadow(0 2px 7px #bfbfbf);
}

.product-item-image {
    width: 70%;
}