.session-form {
    display: flex;
    flex-direction: column;
}

.session-header-container {
    display: flex;
    border-bottom: 1px solid rgb(240, 240, 240);
    padding: 20px 55px 20px 55px;
    width: 390px;
}

.session-header {
    margin: 0 auto;
}

.icon-faTimes {
    font-size: 32px;
    position: absolute;
    right: 30px;
    width: 100%;
    cursor: pointer;
}

.form-body-container {
    padding: 20px 55px 20px 55px;
}
.form-guest-container {
    width: 100%;
    border: 1px solid #222222;   
    margin: 0 0 24px 0;
}


.form-guest-text {
    outline: 0;
    display: flex;
    margin: 0 auto;
    height: 48px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
}
.form-guest-container:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.or-container {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #9f9e9e;
    line-height: 0px;
    margin: 10px 0 20px;
}
.or-container span {
    background-color: #ffffff;
    color: #9f9e9e;
    padding: 0 10px;
    font-size: 14px;
}



.form-input-label {
    color: #9f9e9e;
    font-size: 16px;
    line-height: 18px;
}

.form-label-container {
    padding: 5px 0 5px 0;
}

.form-input-container {
    padding-bottom: 20px;
}
.form-input-field {
    font-size: 16px;
    padding: 2px 9px 2px 9px;
    width: calc(100% - 20px);
    height: 40px;
    border: 1px solid #9f9e9e;
    border-radius: 3px;
}

::placeholder {
    font-style: italic;
    color: #9f9e9e;
}

.form-button {
    padding: 0 30px 0 30px;
    width: 100%;
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    border: 1px solid #222222;
    background-color: #222222;
}

.form-button:hover {
    cursor: pointer;
    color: #222222;
    border: #fdcf41;
    background-color: #fdcf41;
}

.form-footer-container {
    border-top: 1px solid rgb(240, 240, 240);
    padding: 24px 24px 24px 24px;
}

.form-footer-text {
    font-size: 16px;
    color: #9f9e9e;
}

.form-footer-link {
    border: 0;
    outline: 0;

    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

.form-error {
    font-size: 14px;
    color: #e3352c;
    margin: 6px 0 0 1px;
}

.form-footer-text {
    font-size: 16px;
}

.form-error-link {
    border: 0;
    outline: 0;
    color: #e3352c;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}
