.splash-container {
    display: flex;
    width: 100%;
    height: 1300px;
    position: relative;
}

.splash-left {
    width: 300px;

}

.splash-right {
    width: calc(100% - 300px);
    background-image: url(https://previews.123rf.com/images/puhhha/puhhha1806/puhhha180600493/102565049-rainbow-candy-colorful-sweets-and-candies-on-background-high-resolution.jpg);
}
